@import "tailwindcss";

/* .better-food-section{
  background-image: url('https://b.zmtcdn.com/data/o2_assets/901001826baf04838b1bf505176ff0b11742453501.png'), url('https://b.zmtcdn.com/data/o2_assets/901001826baf04838b1bf505176ff0b11742453501.png');
  background-repeat: no-repeat;
  background-size: 40% 80%;
  background-position: -30% 20%, 60% 60%;
} */